body{
    margin: 0;
    background-color: #f4f4f4;
    font-family: sans-serif;
}
.container{
    height: 50px;
    padding: 10px 50px;
}
header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navHeader{
    display: flex;
}
a{
    text-decoration: none;
}
.ulDiv{
    display: flex;
    flex-grow: 1;
}
.ulHeader{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.chosen{
    padding: 5px 20px;
    color: black;
    border-radius: 15px; border: 0;
    background-color: #f4f4f4;
}
.itemLink{
    padding: 5px 20px;
    color: black;
    border-radius: 15px; border: 0;
}
.itemLink:hover{
    background-color: #f4f4f4;
    transition-duration: 0.5s;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.logo{
    padding: 16px 16px;
    border-radius: 15px;
    border: 0;
    background-color: lightgreen;
}
.errorBox{
    display: flex;
    justify-content: right;
    margin-top: -10px;
    margin-bottom: 10px;
}
.data{
    display: flex;
    justify-content: right;
    background-color: white;
}
#userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 200px;
}
.publishButton{
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 2%;
    padding: 5px;
}
.publishButton:hover{
    background-color: mediumseagreen;
    transition-duration: 0.5s;
    cursor: pointer;
}
#postPhoto{
    padding: 10px;
    border: black 1px solid;
    border-radius: 15px;
    margin-bottom: 20px;
}
#postPhoto::file-selector-button{
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgreen;
    padding: 5px;
}
#postPhoto::file-selector-button:hover{
    background-color: mediumseagreen;
    transition-duration: 0.5s;
    cursor: pointer;
}
#newPhoto{
    padding: 10px;
    border: black 1px solid;
    border-radius: 15px;
    margin-bottom: 20px;
}
#newPhoto::file-selector-button{
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgreen;
    padding: 5px;
}
#newPhoto::file-selector-button:hover{
    background-color: mediumseagreen;
    transition-duration: 0.5s;
    cursor: pointer;
}
.mainContainer{
    position: absolute;
    margin-top: 8%;
    margin-left: 12%;
    margin-right: 2%;
}
h2{
    position: relative;
    margin-left: 20px;
    margin-top: 35px;
}
.personalData{
    padding: 10px;
    border: black 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
}
label{
    margin-right: 10px;
    margin-top: 8px;
}
#selfInformation{
    resize: none;
    min-height: 60px;
    border-radius: 10px;
}
#postInformation{
    resize: none;
    min-height: 100px;
    border-radius: 10px;
}
#exitButton{
    border: black 1px solid;
    border-radius: 10px;
    background-color: #ea4444;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
}
#exitButton:hover{
    background-color: #cc5151;
    transition-duration: 0.5s;
    cursor: pointer;
}
#changeButton{
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
}
#changeButton:hover{
    background-color: mediumseagreen;
    transition-duration: 0.5s;
    cursor: pointer;
}
.posts{
    position: absolute;
    margin-top: 8%;
    margin-left: 52%;
    margin-right: 12%;
    overflow-y: scroll;
    max-height: 800px;
}
.postContainer{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 31px;
}
.postHeader{
    display: flex;
    justify-content: left;
}
.postButtons{
    display: flex;
    justify-content: left;
}
.likeButton{
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 2%;
    padding: 5px;
}
.likeButton:hover{
    background-color: mediumseagreen;
    transition-duration: 0.5s;
    cursor: pointer;
}
.dislikeButton{
    border: black 1px solid;
    border-radius: 10px;
    background-color: #ea4444;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 20%;
    padding: 5px;
}
.dislikeButton:hover{
    background-color: #cc5151;
    transition-duration: 0.5s;
    cursor: pointer;
}
h4{
    margin-left: 10px;
    margin-top: 18px;
}
.postImage{
    max-height: 350px;
}